/* 全局样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 页面主背景 */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://thumbs.dreamstime.com/z/%E8%89%B2%E5%BD%A9%E7%BC%A4%E7%BA%B7%E7%9A%84%E5%A4%A9%E7%A9%BA%E8%83%8C%E6%99%AF%E7%9A%84%E7%A9%BA%E6%9C%A8%E6%A1%8C-%E7%A9%BA%E6%9C%A8%E6%A1%8C%EF%BC%8C%E6%A1%8C%E5%AD%90%E8%93%AC%E6%9D%BE%EF%BC%8C%E5%A4%A9%E8%89%B2%E9%B2%9C%E8%89%B3-173905030.jpg?w=992');
}

/* 弹窗容器样式 */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

/* 表单和输入框样式（如果需要） */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 18px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.password-container {
    position: relative;
    display: inline-block;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* 调整图标与输入框的距离 */
    transform: translateY(-50%);
    cursor: pointer;
    width: 16px; /* 设置图标的宽度 */
    height: 16px; /* 设置图标的高度 */
}

#password {
    width: 100%;
}

#confirmPassword{
    width: 100%;
}

